html,
body {
    height: 100%;
}

.nav-block a.active:before {
    content: '[ '
}

.nav-block a.active:after {
    content: ' ]'
}

.box {
    transform:translate(-50%,-75%);
}

.contact {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -118px;
    vertical-align:bottom;
}