html,
body {
    height: 100%;
}

.nav-block a.active:before {
    content: '[ '
}

.nav-block a.active:after {
    content: ' ]'
}

.portfolio {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -118px;
    vertical-align:bottom;
}

.w3-row-padding img {margin-bottom: 12px}
img:hover{opacity: 0.6; transition: 0.3s}

.divPush {
    height: 118px;
}

.footer {
    width: 100%;
    height: 118px;
    bottom: 0;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    border-radius: 25px;
    font-weight:bold;
    background-color: #1c0027;
    color: #fe00fe;
    font-size: 16px;
    padding: 16px 32px;
}