* {
    box-sizing: border-box;
  }

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #A9A9A9;
}

/* --- Header --- */
.container {
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-y: scroll;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.header {
    background-color: #DCDCDC; /* Gainsboro */
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.social {
    width: 17%;
    text-align: right;
    float: right;
    padding: 10px;
}

.social a {
    padding: 5px;
}

.social a img:hover {
    filter: invert(100%);
}

.header img {
    width: 35px;
    height: 35px;
}

@font-face { font-family: Elianto-Regular; src: url('../font/Elianto-Regular.otf'); }
.name-block {
    font-family: Elianto-Regular;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: white;
}

.nav-block {
    text-align: center;
}

.nav-block a {
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
}

.nav-block a:hover {
    color: black;
}

.nav-block a.active:before {
    font-size: 35px;
    content: '[ '
}

.nav-block a.active:after {
    font-size: 35px;
    content: ' ]'
}

/* --- image grid --- */
.matrix {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 75%;
}

.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
.accordion {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: none;
    outline: none;
}

.accordion:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.accordion img {
    max-width: 100%;
    max-height: 75%;
}

.panel {
    padding: 0 18px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.expanding-image-container {
    position: relative;
    display: none;
    width: 500px;
    height: 500px;
  }

  /* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
